.main {
    width: 400px;
    margin: auto;
}

.label-block {
    width: 150px;
}

.submit-button {
    text-align: center;
}

.input-block {
    text-align: center;
}

td {
    padding-bottom: 10px;
}

.btn-edit {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    cursor: pointer;
    border: 1px solid #91918c;
    border-radius: 4px;
    background-color: #e2e2e1;
    color: #000;
    text-decoration: none;
}

.new-input {
    width: 90px;
}