<div th:include="header :: header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<body>
<!--edit entry-->
<h4 align="center">Edit SIM info</b></h4>
<div class="section" align="center">
    <div class="container">
        <div class="row" align="center">
            <div class="form-group">
                <table border="1" align="center" cellspacing="0" cellpadding="10">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>CurrentLocation</th>
                        <th>LastLastLocation</th>
                        <th>Id</th>
                        <th>Operator</th>
                        <th>Owner</th>
                        <th>Employee</th>
                        <th>LastChangeDate</th>
                        <th>HasCsd</th>
                        <th>Functioning</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <form th action="/update" class="form-horizontal" method="post" enctype="form-data">

                            <td th:text="${editedSimInfo.phoneNumber}"></td>
                            <td><input type="text" class="form-inline" name="curLocation"></td>
                            <td th:text="${editedSimInfo.lastLocation}"></td>
                            <td th:text="${editedSimInfo.id}"></td>
                            <td ><input type="text" class="form-inline" name="operator"></td>
                            <td><input type="text" class="form-inline" name="owner"></td>
                            <td><input type="text" class="form-inline" name="employee"></td>
                            <td th:text="${editedSimInfo.lastChangeDate}"></td>
                            <td><input type="checkbox" name="CSD" th:checked="${editedSimInfo.CSD}"/></td>
                            <td><input type="checkbox" name="functioning" th:checked="${editedSimInfo.functioning}"/></td>
                            <input type="hidden" class="form-inline" id="text" name="id" th:value="${editedSimInfo.id}">
                            <td><input type="submit" value="Save" class="btn btn-primary btn-lg "></td>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
                <div class="section">
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<div th:include="footer :: footer"></div>
<!--edit entry over-->