<footer class="section section-primary" id="block-4">
    <!--<h4 align="center">Functioning SIMs</b></h4>-->
    <br>
    <br>
    <div class="section" align="center">
        <div class="container">
            <div class="row" align="center">
                <div class="form-group">
                    <table border="1" align="center" cellspacing="0" cellpadding="10">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Operator</th>
                            <th>Id</th>
                            <th>Owner</th>
                            <th>Employee</th>
                            <th>CurrentLastLocation</th>
                            <th>LastLocation</th>
                            <th>LastChangeDate</th>
                            <th>IP address</th>
                            <th>HasCsd</th>
                            <th>Functioning</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="simInfo : ${simInfos}">
                            <form th:action="@{/} + ${simInfo.id}" class="form-horizontal" th:method="post" enctype="form-data">
                                <td id="phoneNumber" th:text="${simInfo.phoneNumber}"></td>
                                <td class="editable" id="operator" th:text="${simInfo.operator}"></td>
                                <td id="id" th:text="${simInfo.id}"></td>
                                <td id="owner" th:text="${simInfo.ownerSurname}"></td>
                                <td class="editable" id="employee" th:text="${simInfo.employeeSurname}"></td>
                                <td class="editable" id="curLocation" th:text="${simInfo.curLocation}"></td>
                                <td id="lastLocation" th:text="${simInfo.lastLocation}"></td>
                                <td id="lastChangeDate" th:text="${simInfo.lastChangeDate}"></td>
                                <td id="ipAddress" th:text="${simInfo.ipAddress}"></td>
                                <td class="editable" id="haveCsd" th:text="${simInfo.haveCsd}"></td>
                                <td id="func" th:text="${simInfo.func}"></td>
                                <td>
                                    <input type="hidden" class="form-inline" id="text" name="Id" th:value="${simInfo.id}"> <!-->
                                    <input type="submit" value="Edit" class="btn btn-primary btn-lg edit" th:id="${simInfo.id}">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="submit" value="Delete" class="btn btn-primary btn-lg delete">
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                    <div class="section">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>