<div th:include="header :: header" xmlns:th="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.w3.org/1999/xhtml"></div>
<h2 align="center"><b>Add new SIM</b></h2>
<div class="section" align="center">
    <br>
    <div class="container">
        <div class="row" align="center">
            <br>
            <form class="form-horizontal" action="/add" method="post" enctype="text/plain">
                <div class="col-xs-8 col-sm-6">
                    <label for="text">PhoneNumber</label>
                    <input type="text" class="form-inline" id="text" name="PhoneNumber"><br>
                    <label for="text">Surname</label>
                    <input type="text" class="form-inline" id="text" name="Employee"><br>
                    <label for="text">Owner</label>
                    <input type="text" class="form-inline" id="text" name="Owner"><br>
                    <label for="text">Operator</label>
                    <input type="text" class="form-inline" id="text" name="Operator"><br>
                    <label for="text">Location</label>
                    <input type="text" class="form-inline" id="text" name="Location"><br>
                </div>
                <br>
                <div>
                    <input type="submit" value="Upload" class="btn btn-primary btn-lg "><br>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
</body>
<div th:include="footer :: footer"></div>
</html>